
body {
    background-color: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0d6efd;
    text-align: center;
    margin-top: 40px;
}


p {
    font-size: 18px;
    color: #333;
    text-align: center;
}

.container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
